# виртуальные окружения
.venv/
leadcash/
skillbox/

# кеши питона и ноутбуков
__pycache__/
*.pyc
.ipynb_checkpoints/

# прочее
.env
.DS_Store
**/data/**

# логи обучения CatBoost
**/catboost_info/

# локальные настройки редактора
.vscode/